--prefer-binary
--extra-index-url https://download.pytorch.org/whl/cpu

fastapi
uvicorn[standard]
motor
spacy==3.7.2
sentence-transformers==2.2.2
openai
pymupdf
python-docx
python-dotenv
python-multipart
pydantic<2.0.0
setuptools
wheel
google-generativeai
